/* 
vh - height = percent of screen
vw - width = percent of screen
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: lightcoral;
}
.banner {
  width: 100vw;
  height: 100vh;
  background-color: lightgreen;
}
