/* font-size, font-family
font-stack
generic-family: serif, sans-serif, cursive, fantasy, monospace
*/

/* Google Fonts: https://fonts.google.com/  */
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&display=swap");

body {
  font-size: 1.5rem;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* font-stack */
}

p {
  font-family: monospace;
}

.googleFont {
  font-family: "Alkatra", cursive;
  background-color: lightgreen;
}
